<!DOCTYPE html>

<html data-layout-decorate="~{view/fragments/layout}">

<head>
    <title>Create Student</title>
</head>

<body>

<div data-layout-fragment="content">

    <div class="container">

        <h2>New Student</h2>

        <div>
            <form class="form-horizontal" data-th-object="${student}" data-th-action="@{/student/save}" method="post">
                <input type="hidden" id="id" name="id"/>
                <input type="hidden" id="version" name="version"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Student ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="studentId" name="studentId"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstName" name="firstName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastName" name="lastName"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Father Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="fatherName" name="fatherName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mother Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="motherName" name="motherName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Gender:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="gender" name="gender"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Date Of Birth:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"/>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-default" data-th-text="${buttonAction}">Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>
</body>

</html>