<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>School Manager</title>
    <th:block th:include="view/fragments/headerinc :: head"></th:block>
</head>
<body>

<div class="container">
    <th:block th:include="view/fragments/header :: header"></th:block>
</div>
<div class="jumbotron">
    <div class="row text-center">
        <div class="">
            <h2>School Manager</h2>
            <h3>Welcome</h3>
        </div>
    </div>
    <div class="row text-center">
        <img src="../../static/images/boot.png" width="200" th:src="@{/images/boot.png}"/>
    </div>
</div>
</body>
</html>
